@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Inter-Black";
  src: url('fonts/inter_black.ttf')
}

@font-face {
  font-family: "Inter-Bold";
  src: url('fonts/inter_bold.ttf')
}

@font-face {
  font-family: "Inter-Extrabold";
  src: url('fonts/inter_extrabold.ttf')
}

@font-face {
  font-family: "Inter-Extralight";
  src: url('fonts/inter_extralight.ttf')
}

@font-face {
  font-family: "Inter-Light";
  src: url('fonts/inter_light.ttf')
}

@font-face {
  font-family: "Inter-Medium";
  src: url('fonts/inter_medium.ttf')
}

@font-face {
  font-family: "Inter-Regular";
  src: url('fonts/inter_regular.ttf')
}

@font-face {
  font-family: "Inter-Semibold";
  src: url('fonts/inter_semibold.ttf')
}

@font-face {
  font-family: "Inter-Thin";
  src: url('fonts/inter_thin.ttf')
}

@font-face {
  font-family: "Inter-Black";
  src: url('fonts/inter_black.ttf')
}

@font-face {
  font-family: "Martires-Black";
  src: url('fonts/martires_black.otf')
}

@font-face {
  font-family: "Martires-Bold";
  src: url('fonts/martires_bold.otf')
}

@font-face {
  font-family: "Martires-Demibold";
  src: url('fonts/martires_demibold.otf')
}

@font-face {
  font-family: "Martires-Extrabold";
  src: url('fonts/martires_extrabold.otf')
}

@font-face {
  font-family: "Martires-Extralight";
  src: url('fonts/martires_extralight.otf')
}

@font-face {
  font-family: "Martires-Heavy";
  src: url('fonts/martires_heavy.otf')
}

@font-face {
  font-family: "Martires-Light";
  src: url('fonts/martires_light.otf')
}

@font-face {
  font-family: "Martires-Medium";
  src: url('fonts/martires_medium.otf')
}

@font-face {
  font-family: "Martires-Regular";
  src: url('fonts/martires_regular.otf')
}

@font-face {
  font-family: "Martires-Semibold";
  src: url('fonts/martires_semibold.otf')
}

@font-face {
  font-family: "Martires-Thin";
  src: url('fonts/martires_thin.otf')
}

@font-face {
  font-family: "Martires-Ultrabold";
  src: url('fonts/martires_ultrabold.otf')
}

@font-face {
  font-family: "Martires-Ultralight";
  src: url('fonts/martires_ultralight.otf')
}

@theme {
  --font-inter-thin: "Inter-Thin", sans-serif; 
  --font-inter-extralight: "Inter-Extralight", sans-serif; 
  --font-inter-light: "Inter-Light", sans-serif; 
  --font-inter-regular: "Inter-Regular", sans-serif; 
  --font-inter-medium: "Inter-Medium", sans-serif; 
  --font-inter-semibold: "Inter-Semibold", sans-serif; 
  --font-inter-bold: "Inter-Bold", sans-serif; 
  --font-inter-extrabold: "Inter-Extrabold", sans-serif; 
  --font-inter-black: "Inter-Black", sans-serif; 

  --font-martires-black: "Martires-Black", sans-serif;
  --font-martires-bold: "Martires-Bold", sans-serif;
  --font-martires-demibold: "Martires-Demibold", sans-serif;
  --font-martires-extrabold: "Martires-Extrabold", sans-serif;
  --font-martires-extralight: "Martires-Extralight", sans-serif;
  --font-martires-heavy: "Martires-Heavy", sans-serif;
  --font-martires-light: "Martires-Light", sans-serif;
  --font-martires-medium: "Martires-Medium", sans-serif;
  --font-martires-regular: "Martires-Regular", sans-serif;
  --font-martires-semibold: "Martires-Semibold", sans-serif;
  --font-martires-thin: "Martires-Thin", sans-serif;
  --font-martires-ultrabold: "Martires-Ultrabold", sans-serif;
  --font-martires-ultralight: "Martires-Ultralight", sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter-Regular";
  }
}
